<body onload='document.forms[0].submit()'>
  <form action='<%= Rack::Utils.escape_html @action %>' method='post'>
    <input type='hidden' name='token'  value='<%= @token %>'>
    <input type='hidden' name='user'   value='<%= @user %>'>
    <input type='hidden' name='become' value='true'>
  </form>
</body>
